{% extends "base.html" %}
{% block content %}
<!script type="text/javascript" charset="utf-8" src="/static/js/my_javascript.js"> <!/script>
<script type="text/javascript" src="{{ url_for('static', filename='js/my_javascript.js') }}"></script>

<section>
  <fieldset>
      <label for="email-address"><span>Email <span class="required">*</span></span>
      <input type="email" name="email-address" placeholder="tu_email@abcd.com">

      <label for="interval"> Grabar: </label>
      <input type="number" name="interval" value="1" min="1">

      <select name="time_process">
            <option value="min">[Min]</option>
            <option value="hr">[Hr]</option>
            <option value="dias">[Días]</option>
            <option value="manual" selected> Manual</option>
      </select>
      <input type="checkbox" name="day" value="Sunday">
      <button class="button" type="submit">+</button>
  </fieldset>
</section>


<form id="setpoints" method="POST" action='#'>

    <div class="caja_izquierda_arriba">Alimentar [rpm]: <br>
              <input type="number"
                     id="alimentar"
                     style="width: 50px;"
                     value=""
                     MIN="0"
                     MAX="150"
                     step="1"
              />
              <button  type="submit" class="button_apply"> + </button>
              <br><input  type="checkbox" id="alimentar_rst" /> Deshabilitar
              <br><input  type="checkbox" id="alimentar_dir" /> Invertir


    </div>


    <div class="caja_central_arriba"> Mezclar [rpm]:
                <input type="number"
                       id="mezclar"
                       style="width: 50px;"
                       MIN="0"
                       MAX="1500"
                       step="1"
                       value=""
                 />
                 <button  type="submit" class="button_apply"> + </button>         <br>
                 <input  type="checkbox" id="mezclar_rst" /> Deshabilitar
    </div>

    <div class="caja_central">
      <!CAJA CENTRAL PARA EL DIBUJO>
    </div>


    <div class="caja_izquierda_centro"> Temperatura [ºC]: <br>
            <input type="number"
                   id="temperatura"
                   value="25"
                   style="width: 50px;"
                   MIN="0"
                   MAX="100"
                   step="1"
            />

            <button  type="submit" class="button_apply"> + </button>     <br>
            <input  type="checkbox" id="temperatura_rst" /> Deshabilitar   <br>
            <input  type="checkbox" id="temperatura_dir" /> Invertir
    </div>



    <div class="caja_izquierda_abajo"> Configurar Ph: <br>
            <input type="number"
                   id="ph"
                   value=""
                   style="width: 50px;"
                   MIN="0"
                   MAX="14"
                   step="0.1"
            />

            <button  type="submit" class="button_apply"> + </button>     <br>
            <input  type="checkbox" id="ph_rst" /> Deshabilitar   <br>
            <input  type="checkbox" id="ph_dir" /> Invertir
    </div>


    <div class="caja_derecha_arriba1" id="med1"></div>
    <div class="caja_derecha_arriba2" id="med2"></div>
    <div class="caja_derecha_arriba3" id="med3"></div>


    <div class="caja_derecha_abajo">Descarga [rpm]:
            <br><input  type="number"
                    id="descargar"
                    style="width: 50px;"
                    MIN="0"
                    MAX="150"
                    step="1"
                    value=""
            />
                <button  type="submit" class="button_apply"> + </button>
            <br><input  type="checkbox" id="descargar_rst"/> Deshabilitar

  </div>

</form>





{% endblock %}
